{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<title>Upload CSV file</title>
<body>
<form enctype="multipart/form-data" action="" method="post" id="upload_form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Загрузить
        </button>
    {% endbuttons %}
</form>
</body>
</html>