{% extends 'base.html' %}
{% block extra_head %}
{% endblock %}
{% block title %} Интернет-магазин 777toys.com.ua: Вход в систему {% endblock %}
{% block content %}
<div class="welcome">Авторизация</div>
<form action="" method="post" id="login">
    {% csrf_token %}
    {% for field in form %}
    <fieldset>
        {% if field.errors %}
            <div class="control-group error">
                {{ field }}
                <span class="help-inline"> {{ field.errors.0 }}</span>
            <div>
        {% else %}
            {{ field }}
        {% endif %}
    </fieldset>
    {% endfor %}
    {% if form.non_field_errors %}
        <div class="control-group error">
            {{ form.non_field_errors }}
        <div>
    {% endif %}
    <input class="button filter-button" type="submit" value="Войти в магазин" />

    <br>
    <br>
    <a href="{% url 'registration'%}">Регистрация</a> <a href="{% url 'password_reset'%}">Восстановить пароль</a>
</form>
{% endblock %}
