{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="register_wrapper">
        <div class="welcome">Восстановление доступа к аккаунту</div>
        <div id="loginmain_forms_re" class="register_main_wrap">
            <p class="regmain_extratitle_final">
                На ваш почтовый ящик было выслано письмо с дальнейшими инструкциями для восстановления пароля.
            </p>
        </div>
    </div>
{% endblock %}
