{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="register_wrapper">
        <div class="welcome">Восстановление доступа к аккаунту</div>
        <div id="loginmain_forms_re" class="register_main_wrap">
            <p class="regmain_extratitle_final">
                Пароль изменён успешно. Теперь вы можете <a href="{% url 'login' %}">войти</a>.
            </p>
        </div>
    </div>
{% endblock %}
