{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="register_wrapper">
            <div class="register_social_wrap" style="margin-bottom: 0">
                <p class="regsoc_title">Восстановление доступа к аккаунту</p>
            </div>
            <div id="loginmain_forms_re" class="register_main_wrap" style="padding-top: 1px">
                <div class="regmain_inputs" style="margin-top: 10px">
                    <input class="simple-input" id="id_new_password1" name="new_password1" type="password">
                    {% if form.new_password1.errors %}
                    <div class="control-group error">
                        {{ form.new_password1.errors }}
                    <div>
                    {% endif %}
                    <input class="simple-input" id="id_new_password2" name="new_password2" type="password">
                    {% if form.new_password2.errors %}
                    <div class="control-group error">
                        {{ form.new_password2.errors }}
                    <div>
                    {% endif %}
                    {% if form.errors %}
                        <div class="form_errors" style="margin-top: 14px">
                            <ul>
                                <li>{{ form.email.errors.0 }}</li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <input class="button filter-button" type="submit" value="Изменить мой пароль" />
        </div>
    </form>

    <script type="text/javascript">document.getElementById("id_new_password1").focus();</script>
{% endblock %}
