{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="welcome">Изменение пароля</div>
    <form method="post" action="" class="uniForm">
        {% csrf_token %}
        <input class="simple-input" placeholder="Старый пароль" id="id_old_password" name="old_password" type="password">
        <input class="simple-input" placeholder="Новый пароль" id="id_new_password1" name="new_password1" type="password">
        <input class="simple-input" placeholder="Подтверждение нового пароля" id="id_new_password2" name="new_password2" type="password">
        <input class="button filter-button" type="submit" value="Изменить" />
    </form>
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock %}
