{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="register_wrapper">
            <div class="welcome">Восстановление доступа к аккаунту</div>
            <div id="loginmain_forms_re" class="register_main_wrap" style="padding-top: 1px">
                <div class="regmain_inputs" style="margin-top: 10px">
                    <p class="regmain_extratitle">Введите E-Mail под которым вы регистрировались</p>
                    <br>
                    <input class="simple-input" id="id_email" maxlength="254" name="email" type="email">
                    {% if form.email.errors %}
                        <div class="form_errors" style="margin-top: 14px">
                            <ul>
                                <li>{{ form.email.errors.0 }}</li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <input class="button filter-button" type="submit" value="Продолжить" />
        </div>
    </form>

    <script type="text/javascript">document.getElementById("id_email").focus();</script>
{% endblock %}
