{% extends 'base.html' %}
{% block title %} Интернет-магазин 777toys.com.ua: Регистрация {% endblock %}
{% block content %}
    <div class="welcome">Создать учетную запись</div>
    <form action="" method="post" id="registration">
    {% csrf_token %}
    {% for field in form %}
            <fieldset>
                {% if field.errors %}
                    <div class="control-group error">
                        {{ field }}
                        <span class="help-inline"> {{ field.errors.0 }}</span>
                    <div>
                {% else %}
                    {{ field }}
                {% endif %}
            </fieldset>
     {% endfor %}
     <input class="button filter-button" type="submit" value="Регистрация" />
     </form>
{% endblock %}
