{% extends 'base.html' %}
{% block breadcrumds %}
 <li class="breadcrumb">
    {{ flatpage.title }}
</li>
{% endblock breadcrumds %}
{% block content %}
<br>
<div class="title">{{ flatpage.title }}</div>
<span style="color: #333333; font-size: 14; font-family: Verdana, sans-serif; line-height: 1.6;">
{{ flatpage.content }}
</span>
{% if flatpage.url = '/contact/' %}
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=xMVEltMA6p5g7Azi_WHPMTKpoU1SQSZu&width=600&height=450"></script>
{% endif %}
{% endblock %}
