/* ---------->>> SPRITE <<<-----------*/
.icons-sprite, .kyivstar-icon, .mts-icon, .life-icon, .home-icon, .basket-icon, .tel-icon, .skype-icon, .pep-icon { background: url('../images/icons-sd2d1006c1c.png') no-repeat; }

/* ---------->>> ICONS <<<-----------*/
.kyivstar-icon { background-position: 0 0; height: 30px; width: 34px; }

.mts-icon { background-position: 0 -40px; height: 25px; width: 30px; }

.life-icon { background-position: 0 -75px; height: 18px; width: 30px; }

.home-icon { background-position: 0 -137px; height: 26px; width: 26px; }

.basket-icon { background-position: 0 -103px; height: 24px; width: 24px; }

.tel-icon { background-position: 0 -203px; height: 17px; width: 18px; }

.skype-icon { background-position: 0 -173px; height: 20px; width: 18px; }

.pep-icon { background-position: 0 -230px; height: 13px; width: 11px; }
