/* ---------->>> STANDARD STYLE <<<-----------*/
a, .link { color: #0077bb; text-decoration: underline; }
a:hover, .link:hover { text-decoration: none; }

/* ---------->>> GLOBAL <<<-----------*/
html { min-width: 960px; }
html > body .container-wrap { height: auto; min-height: 100%; }

body { background-color: #fff; color: black; line-height: 1; font-family: Verdana, Geneva, sans-serif; font-size: 12px; }

.container { margin: auto; width: 960px; }

.container-wrap { position: relative; }

.loading { background-color: #fff; background-image: url(../images/required/loading.gif); background-repeat: no-repeat; background-position: center; }
