{% load menu %}
{% load catalog_list %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Интернет-магазин 777toys.com.ua: Игрушки оптом для детей! {% endblock %}</title>
    <meta name="description" content="{% block description %} Интернет-магазин 777toys.com.ua предлагает Вам приобрести детские игрушки оптом в Украине по самым лучшим ценам! {% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <meta name="author" content="">
    <!-- CSS style -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css?v=1">
    <!-- CSS for developers -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dev.css?v=1" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/notifIt.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.1.5">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox-buttons.css?v=1.0.5">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox-thumbs.css?v=1.0.7">
    <!-- Scripts -->
    <script data-headjs-load="{{ STATIC_URL }}js/init.js" src="{{ STATIC_URL }}js/head.min.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="container-wrap">
        <div class="container">
            <header role="banner" class="header">
                <div class="h-top clearfix">
                   <ul role="navigation" class="menu main-menu left">
                        {% menu %}
                   </ul>
                   <!--end main-menu-->
                    <form action="{% url 'search' %}" method="get" name="searchform" role="search" class="search right">
                        <input type="search" class="field-search left" name="query" placeholder="Поиск">
                        <button class="button button-search no_select right">ок</button>
                    </form><!--end search-->
                </div>
                <div class="h-body">
                    <ul class="h-phones phones right">
                        {% if  phone_kyivstar %}
                        <li class="phone"><i class="kyivstar-icon icon"></i>{{ phone_kyivstar }}</li>
                        {% endif %}
                        {% if phone_mts %}
                        <li class="phone"><i class="mts-icon icon"></i>{{ phone_mts }}</li>
                        {% endif %}
                        {% if  phone_life %}
                        <li class="phone"><i class="life-icon icon"></i>{{ phone_life }}</li>
                        {% endif %}
                    </ul>
                    <div class="h-info clearfix">
                        <div class="h-text left">Оптовая продажа игрушек для детей</div>
                        <div class="h-bl right">
                            <div class="h-basket basket left rgba-bg">
                                <div class="basket-body">
                                    <div class="basket-title"><a href="{% url 'basket' %}" class="basket-link">Корзина</a></div>
                                    {% if basket_count == 0 %}
                                    <div class="basket-goods">нет товара</div>
                                    {% else %}
                                    <div class="basket-goods">{{ basket_count }} товара {{ basket_price }} грн</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="h-aut aut right rgba-bg">
                                <div class="aut-bl">
                                    {% if user.is_authenticated %}
                                    <span class="out-js"><a href="{% url 'profile' %}"><i class="pep-icon icon"></a></i><a href="{% url 'logout' %}" class="out-link">Выйти</a></span>
                                    {% else %}
                                    <div class="in in-js">
                                        <a href="{% url 'login' %}" class="in-link">Войти</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content clearfix home-content">
                <!--breadcrumbs WP-->
                <ul class="breadcrumbs">
                    <li class="breadcrumb">
                        <i class="home-icon icon"></i>
                        <a href="/" class="breadcrumb-link">Главная</a>
                    </li>
                    {% block breadcrumds %}
                    {% endblock breadcrumds %}
                </ul>
                <!--end breadcrumbs WP-->
                <aside role="complementary" class="sidebar left">
                    <div class="widget">
                        <div class="widget-title">Разделы</div>
                        <ul class="widget-menu">
                            {% catalog_list %}
                        </ul>
                    </div>
                </aside><!--end sidebar-->
                <section role="main" class="main-section right">
                    {% block sort %}
                    {% endblock sort %}
                    {% block content %}
                    {% endblock content %}
                </section><!--end main-section-->
            </div><!--end content-->
        </div>
        <footer role="contentinfo" class="footer">
            <div class="container clearfix">
                <div class="f-bl-info left">
                    <a href="/" class="dib logo left"><img src="{{ STATIC_URL }}images/logo.jpg" alt="logo"></a>
                    <ul class="f-phones left">
                        {% if  phone_kyivstar %}
                        <li class="f-phones-item">{{ phone_kyivstar }}</li>
                        {% endif %}
                        {% if phone_mts %}
                        <li class="f-phones-item">{{ phone_mts }}</li>
                        {% endif %}
                        {% if  phone_life %}
                        <li class="f-phones-item">{{ phone_life }}</li>
                        {% endif %}
                    </ul>
                    <ul class="f-dop left">
                        <li class="f-dop-item"><i class="icon tel-icon"></i><a href="#" class="f-dop-link">Обратный звонок</a></li>
                        {% if  skype_login %}
                        <li class="f-dop-item"><i class="icon skype-icon"></i><a href="skype:{{skype_login}}?chat" class="f-dop-link">777toys.com.ua</a></li>
                        {% endif %}
                    </ul>
                    <div class="f-content clear">
                    {% if footer_text %}
                        {{ footer_text|safe }}
                    {% endif %}
                    </div>
                    <div class="f-text">777toys.com.ua - игрушки оптом © 2014</div>
                </div>
                <div class="f-nav right">
                    <div class="f-nav-title">МЕНЮ САЙТА</div>
                    <ul role="navigation" class="menu f-menu">
                        {% menu %}
                    </ul><!--end f-menu-->
                </div>
            </div>
        </footer><!--end footer-->
    </div><!--end main block-->
<!-- load libraries -->
{% include '_message.html' %}
<script>
</script>
</body>
</html>
