{% extends 'base.html' %}
{% load user_address %}
{% block title %} Интернет-магазин 777toys.com.ua: Корзина {% endblock %}
{% block breadcrumds %}
    <li class="breadcrumb">
        Корзина
    </li>
{% endblock breadcrumds %}
{% block content %}
<section role="main" class="main-section basket-section right">
                   <div class="tablebox basket-header">
                       <div class="cellbox basket-tb-cell-num">№</div>
                       <div class="cellbox basket-tb-cell-goods">Товар</div>
                       <div class="cellbox basket-tb-cell-amt">Количество</div>
                       <div class="cellbox basket-tb-cell-price">Цена</div>
                       <div class="cellbox basket-tb-cell-sum">Сумма</div>
                       <div class="cellbox basket-tb-cell-delete">Удалить</div>
                   </div>
                   <table class="basket-tb">
                    {% for goods in product_list %}
                       <tr>
                           <td class="basket-tb-cell-num">{{ forloop.counter }}</td>
                           <td class="basket-tb-cell-goods">
                                {% if goods.image_origin %}
                                <a class="img_fancybox" href="{{ goods.image_origin.url}}" title="{{ goods.name }}">
                                    <img src="{{ goods.image_thumbnail.url}}" alt="" class="basket-img">
                                </a>
                                {% else %}
                                <img src="{{ STATIC_URL }}images/required/noimg.jpg" alt="" class="basket-img">
                                {% endif %}
                               <a href="{{ goods.get_absolute_url }}" class="basket-link">{{ goods.name | truncatechars:14 }}</a>
                           </td>
                           <td class="basket-tb-cell-amt">
                               <input type="number" class="field basket-field-amt" name="basket-amt" id="{{goods.id}}" value="{{goods.count}}">
                           </td>
                           <td class="basket-tb-cell-price">{{ goods.price }} грн.</td>
                           <td class="basket-tb-cell-sum">{{ goods.sum }} грн.</td>
                           <td class="basket-tb-cell-delete">
                               <span class="icon delete" onclick="return RemoveGoodsBasket.call(this,{{goods.id}})"></span>
                           </td>
                       </tr>
                    {% endfor %}
                   </table>
                   <div class="basket-all-sum clearfix">
                       <div class="basket-all-sum-title left">Итого:</div>
                       <div class="basket-all-sum-number left">{{ basket_price }} грн.</div>
                   </div>
                   <div class="basket-footer clearfix">
                       <a href="{% url 'product_list' %}" class="basket-next-link left">Продолжить покупки</a>
                       {% if product_list %}
                       <a href="#" class="goods-button button right">Оформить заказ</a>
                       {% endif %}
                   </div>
                   <form action="#" class="basket-form">
                       <div class="basket-form-row clearfix">
                           <label for="delivery" class="left basket-form-label">Способ доставки<span class="required">*</span>:</label>
                           <select name="delivery" id="delivery" class="field right basket-form-field">
                            {% for delivery in delivery_list %}
                            {% if forloop.first %}
                               <option value="{{delivery.id}}" selected>{{delivery.title}}</option>
                            {% else %}
                               <option value="{{delivery.id}}">{{delivery.title}}</option>
                            {% endif %}
                            {% endfor %}
                           </select>
                       </div>
                       <div class="basket-form-row clearfix">
                           <label for="payment" class="left basket-form-label">Способ оплаты<span class="required">*</span>:</label>
                           <select name="payment" id="payment" class="field right basket-form-field">
                            {% for payment in payment_list %}
                            {% if forloop.first %}
                               <option value="{{ payment.0}}" selected>{{ payment.1 }}</option>
                            {% else %}
                               <option value="{{ payment.0 }}">{{ payment.1 }}</option>
                            {% endif %}
                            {% endfor %}
                           </select>
                       </div>
                       <div class="basket-form-row clearfix">
                           <label for="country" class="left basket-form-label">Страна<span class="required">*</span>:</label>
                           <select name="country" id="country" class="field right basket-form-field">
                               <option value="Пункт1" selected>Украина</option>
                           </select>
                       </div>
                       <div class="basket-form-row clearfix">
                           <label for="city" class="left basket-form-label">Город<span class="required">*</span>:</label>
                         <input type="text" class="field right basket-form-field" id="city" name="city" value="{{user.id|user_city}}">
                       </div>
                       <div class="basket-form-row clearfix">
                           <label for="comment" class="left basket-form-label">Комментарий к заказу</label>
                           <textarea name="comment" id="comment" class="field right basket-form-field" id="comment"></textarea>
                       </div>
                       <div class="small_note">* Просим обратить Ваше внимание минимальная сумма заказа составляет {{price_limit}} грн.</div>
                       <br>
                       {% if not user.is_authenticated %}
                       <div class="small_note">** Для осуществления покупок нужно <a href="{% url 'login' %}">авторизироватся</a></div>
                       {% else %}
                       <div class="small_note">** Доставка осуществляется только на контактные данные пользователя. <a href="{% url 'login' %}">Изменить контактные данные</a></div>
                       {% endif %}
                       <div class="basket-form-button tar"><button class="button filter-button">Отправить</button></div>
                   </form>
            </section>
{% endblock %}
