{% for category in root_categories%}
{% if not category.is_leaf_node %}
<li class="widget-menu-item drop">
    <a href="{{ category.get_absolute_url }}" class="widget-menu-link">{{ category.name }}</a>
    <ul class="widget-menu-drop">
        {% for child in category.get_children  %}
        <li class="widget-menu-drop-item">
            <a href="{{ child.get_absolute_url }}" class="widget-menu-drop-link">{{ child.name }}</a>
        </li>
        {% endfor %}
    </ul>
</li>
{% else %}
<li class="widget-menu-item"><a href="{{ category.get_absolute_url }}" class="widget-menu-link">{{ category.name }}</a></li>
{% endif %}
{% endfor %}
