{% extends 'base.html' %}
{% block extra_head %}
{% endblock %}
{% block content %}
<section role="main" class="main-section right">
    {% if product_hit %}
    <div class="index_h1">Самые популярные игрушки</div>
    <div class="list_carousel">
        <ul class="bxslider">
        {% for hit in product_hit %}
            {% if hit.image_origin %}
            <li><a href="{{hit.get_absolute_url}}"><img src="{{hit.image_thumbnail.url}}" alt=""></a></li>
            {% else %}
            <li><a href="{{hit.get_absolute_url}}"><img src="{{STATIC_URL}}images/required/noimg.jpg" alt=""></a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if product_new %}
    <div class="index_h1">Новинки</div>
    <div class="list_carousel">
        <ul class="bxslider">
        {% for new in product_new %}
            {% if new.image_origin %}
            <li><a href="{{new.get_absolute_url}}"><img src="{{new.image_thumbnail.url}}" alt=""></a></li>
            {% else %}
            <li><a href="{{new.get_absolute_url}}"><img src="{{STATIC_URL}}images/required/noimg.jpg" alt=""></a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if product_sale %}
    <div class="index_h1">Распродажи</div>
    <div class="list_carousel">
        <ul class="bxslider">
        {% for sale in product_sale %}
            {% if sale.image_origin %}
            <li><a href="{{sale.get_absolute_url}}"><img src="{{sale.image_thumbnail.url}}" alt=""></a></li>
            {% else %}
            <li><a href="{{sale.get_absolute_url}}"><img src="{{STATIC_URL}}images/required/noimg.jpg" alt=""></a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if index_text %}
    <div class="index_bl">
        {{ index_text|safe }}
    </div>
    {% endif %}
</section>
{% endblock content %}
