{% extends 'base.html' %}
{% block title %} Интернет-магазин 777toys.com.ua: {{ catalog_name }} {% endblock %}
{% block breadcrumds %}
 {% if catalog_tree %}
  {% for item in catalog_tree %}
    <li class="breadcrumb">
        <a href="{{ item.1 }}" class="breadcrumb-link">{{ item.0 }}</a>
    </li>
  {% endfor %}
 {% endif %}
{% endblock breadcrumds %}
{% block content %}
<section class="right-content">
    <form class="filters" action="#">
        <div class="filters-top clearfix">
            <div class="filters-left-bl left">
                <span class="filters-title">Сортировать по:</span>
                {% for sort_link in sort_link_list %}
                    <span class="sort-link {{ sort_link.attrs }}">
                        <a class="btn btn-primary btn-small" href="{{ sort_link.path }}">
                                <span class="{{ sort_link.indicator }}">
                                        {{ sort_link.title }}
                                        {% if sort_link.indicator == 'sort-asc' %}▲{% endif %}
                                        {% if sort_link.indicator == 'sort-desc' %}▼{% endif %}
                                </span>
                                {% if not forloop.last %}
                                    |
                                {% endif %}
                        </a>
                    </span>
                {% endfor %}
            </div>
            <!--
            <div class="filters-right-bl right">
                Покакзать товар по:
                <select name="select3" id="select3" class="field select-field3">
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div> -->
        </div>
        <div class="filters-bottom clearfix" data-catalog_id='{{ catalog_id }}'>
            <div class="filters-left-bl left">
                <span class="filters-title">Цена товара от:</span>
                <input type="text" class="field text-field" value="0">
                до
                <input type="text" class="field text-field2" value="5000">
            </div>
            <div class="filters-right-bl right">
                <button class="button filter-button">Сортировать</button>
            </div>
        </div>
    </form>
    <div class="title">{{catalog_name}}</div>
    <div class="amt">({{product_amount}} товаров)</div>
    <div class="goods-bl jbox">
        {% for goods in object_list %}
        <article class="dib goods {{goods.basket_class}}">
            <div class="goods-img loading">
                {% if goods.image_origin %}
                <a class="img_fancybox" href="{{ goods.image_origin.url}}" title="{{ goods.name }}">
                    <img src="{{ goods.image_thumbnail.url}}" alt="">
                </a>
                {% else %}
                <img src="{{ STATIC_URL }}images/required/noimg.jpg" alt="">
                {% endif %}
            </div>
            <div class="goods-title ellipsis">
                <a href="{{ goods.get_absolute_url }}" class="goods-title-link">{{ goods.name }}</a>
            </div>
            <div class="goods-price">
                <span class="goods-price-title">Цена:</span>
                <span class="goods-price-amt">{{ goods.price }} грн</span>
            </div>
            {% if goods.allow_buy %}
            <div class="goods-numbers tac">
                {% if  goods.count%}
                Количество: <input type="number" name="number" class="field number-field" id="number" value="{{goods.count}}">
                {% else %}
                Количество: <input type="number" name="number" class="field number-field" id="number" value="0">
                {% endif %}

            </div>
            <div class="goods-button-bl">
                <a href="#" onclick="return addToCart.call(this,{{goods.id}});"class="goods-button button"><i class="basket-icon icon"></i><span class="goods-button-text">В корзину</span></a>
            </div>
            {% else %}
            <div class="goods-numbers tac">
                Товара нет в наличии
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <ul class="lstPagination">
        {% if page_obj.has_previous %}
        <li class="first hidden"><a href="?page=1&amp;{{ current_sort_query }}">&lt;&lt; Первая</a></li>
        <li class="previous hidden"><a href="?page={{ page_obj.previous_page_number }}&amp;{{ current_sort_query }}">Предыдущая</a></li>
        {% endif %}
        {% if not page_obj.has_next and page_obj.number >= 3 %}
        <li class="page"><a href="?page={{ page_obj.number|add:"-2" }}&amp;{{ current_sort_query }}">{{ page_obj.number|add:"-2" }}</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li class="page"><a href="?page={{ page_obj.previous_page_number }}&amp;{{ current_sort_query }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li class="page selected"><a href="#">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page"><a href="?page={{ page_obj.next_page_number }}&amp;{{ current_sort_query }}">{{ page_obj.next_page_number }}</a></li>
        {% endif %}
        {% if not page_obj.has_previous and page_obj.paginator.num_pages >= 3 %}
        <li class="page"><a href="?page={{ page_obj.number|add:"2" }}&amp;{{ current_sort_query }}">{{ page_obj.number|add:"2" }}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="next"><a href="?page={{ page_obj.next_page_number }}&amp;{{ current_sort_query }}">Следующая</a></li>
        <li class="last"><a href="?page={{ page_obj.paginator.num_pages }}&amp;{{ current_sort_query }}">Последняя &gt;&gt;</a></li></ul>
        {% endif %}
    </ul>
    {% endif %}
</section>
{% endblock %}
