{% for items in menu %}
    {% if items.flatpage %}
        <li class="menu-item"><a href="{{ items.flatpage.url }}" class="menu-link">{{ items.title }}</a></li>
    {% else %}
        <li class="menu-item"><a href="{{ items.link }}" class="menu-link">{{ items.title }}</a></li>
    {% endif %}
{% endfor %}
