{% extends 'base.html' %}
{% block title %} Интернет-магазин 777toys.com.ua: {{ object.name }} {% endblock %}
{% block content %}
{% if object.active %}
<div class="title">{{object.name}}</div>
<div class="goods-bl jbox">
    <article class="dib goods">
        <div class="goods-img loading">
            {% if object.image_origin %}
            <a class="img_fancybox" href="{{ object.image_origin.url}}" title="{{ object.name }}">
                <img src="{{ object.image_thumbnail.url}}" alt="">
            </a>
            {% else %}
            <img src="{{ STATIC_URL }}images/required/noimg.jpg" alt="">
            {% endif %}
        </div>
    </article>
    <article class="dib goods">
        <div class="goods-title ellipsis">
            Код товара: {{ object.sku }}
        </div>
        <div class="goods-price">
            <span class="goods-price-title">Цена:</span>
            <span class="goods-price-amt">{{ object.price }} грн</span>
        </div>
        {% if object.allow_buy %}
        <div class="goods-numbers tac">
            {% if  object.count%}
            Количество: <input type="number" name="number" class="field number-field" id="number" value="{{object.count}}">
            {% else %}
            Количество: <input type="number" name="number" class="field number-field" id="number" value="0">
            {% endif %}

        </div>
        <div class="goods-button-bl">
            <a href="#" onclick="return addToCart.call(this,{{object.id}});"class="goods-button button"><i class="basket-icon icon"></i><span class="goods-button-text">В корзину</span></a>
        </div>
        {% else %}
        <div class="goods-numbers tac">
            Товара нет в наличии
        </div>
        {% endif %}
        <div class="description_title">Описание</div>
        <div class="description">
            {{ object.description }}
        </div>
    </article>
</div>
{% endif %}
<div class="title">Товар не найден</div>
{% endblock %}
