{% extends 'base.html' %}
{% block content %}
<section class="right-content">
    <div class="title">Результаты поиска</div>
    <div class="amt">(Найдено {{result_count}} товаров)</div>
    <div class="goods-bl jbox">
        {% for goods in object_list %}
        <article class="dib goods">
            <div class="goods-img loading">
               {% if goods.image_origin %}
                <a class="img_fancybox" href="{{ goods.image_origin.url}}" title="{{ goods.name }}">
                    <img src="{{ goods.image_thumbnail.url}}" alt="">
                </a>
                {% else %}
                <img src="{{ STATIC_URL }}images/required/noimg.jpg" alt="">
                {% endif %}
            </div>
            <div class="goods-title ellipsis">
                <a href="{{ goods.get_absolute_url }}" class="goods-title-link">{{ goods.name }}</a>
            </div>
            <div class="goods-price">
                <span class="goods-price-title">Цена:</span>
                <span class="goods-price-amt">{{ goods.price }} грн</span>
            </div>
            {% if goods.allow_buy %}
            <div class="goods-numbers tac">
                {% if  goods.count%}
                Количество: <input type="number" name="number" class="field number-field" id="number" value="{{goods.count}}">
                {% else %}
                Количество: <input type="number" name="number" class="field number-field" id="number" value="0">
                {% endif %}

            </div>
            <div class="goods-button-bl">
                <a href="#" onclick="return addToCart.call(this,{{goods.id}});"class="goods-button button"><i class="basket-icon icon"></i><span class="goods-button-text">В корзину</span></a>
            </div>
            {% else %}
            <div class="goods-numbers tac">
                Товара нет в наличии
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <ul class="lstPagination">
        {% if page_obj.has_previous %}
        <li class="previous hidden"><a href="?page={{ page_obj.previous_page_number }}&amp;{{queries.urlencode}}">Предыдущая</a></li>
        {% endif %}
        {% if not page_obj.has_next and page_obj.number >= 3 %}
        <li class="page"><a href="?page={{ page_obj.number|add:"-2" }}&amp;{{queries.urlencode}}">{{ page_obj.number|add:"-2" }}</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li class="page"><a href="?page={{ page_obj.previous_page_number }}&amp;{{queries.urlencode}}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li class="page selected"><a href="#">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page"><a href="?page={{ page_obj.next_page_number }}&amp;{{queries.urlencode}}">{{ page_obj.next_page_number }}</a></li>
        {% endif %}
        {% if not page_obj.has_previous and page_obj.paginator.num_pages >= 3 %}
        <li class="page"><a href="?page={{ page_obj.number|add:"2" }}&amp;{{queries.urlencode}}">{{ page_obj.number|add:"2" }}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="next"><a href="?page={{ page_obj.next_page_number }}&amp;{{queries.urlencode}}">Следующая</a></li>
        <li class="last"><a href="?page={{ page_obj.paginator.num_pages }}&amp;{{queries.urlencode}}">Последняя &gt;&gt;</a></li></ul>
        {% endif %}
    </ul>
    {% endif %}
</section>
{% endblock %}
