/*clear the password reveal button and the clear button in IE10*/
.field::-ms-clear, .field::-ms-reveal { display: none; }

/* ---------->>> IE8 <<<-----------*/
.ie8 .field-search { line-height: 31px; }
.ie8 .field { line-height: 22px; }
.ie8 .filter-button { background: #bfe456; }
.ie8 .filter-button:hover { background: #99cd02; }
.ie8 .goods-button { background: #4fafd4; }
.ie8 .goods-button:hover { background: #0e6693; }
.ie8 .button-search { background: #ff4200; }
.ie8 .button-search:hover { background: #ea2c00; }
.ie8 .phones, .ie8 .rgba-bg { background: #fff; }
.ie8 .main-menu .menu-item { float: left; }
