/* ---------->>> HEADER <<<-----------*/
.h-top { padding-top: 6px; }

.main-menu { margin-left: 12px; border: 5px solid #cef2fe; border-radius: 37px; line-height: 37px; height: 37px; padding: 0 13px; }
.main-menu .menu-item { display: inline-block; }
.main-menu .menu-item .menu-link { color: #0077bb; font-size: 14px; font-weight: 700; text-decoration: none; margin: 0 7px 0 4px; display: inline-block; }
.main-menu .menu-item .menu-link:hover { text-decoration: underline; }
.main-menu .menu-item:after { content: '|'; color: #76d4f3; }
.main-menu .menu-item:last-child:after { content: ''; }

.search { margin-top: 1px; border: 5px solid #cef2fe; width: 175px; border-radius: 37px; }

.field-search { margin-left: 11px; width: 110px; border: none; background: #fff; color: #0077bb; height: 31px; border-radius: 31px; font-size: 14px; }
.field-search:-moz-placeholder { color: #0077bb; opacity: 1; }
.field-search::-moz-placeholder { color: #0077bb; opacity: 1; }
.field-search::-webkit-input-placeholder { color: #0077bb; }
.field-search:-ms-input-placeholder { color: #0077bb; }
.field-search.text-placeholder { color: #0077bb; }
.field-search[data-operaplaceholder] { color: #0077bb; }

.button-search { height: 33px; border-radius: 33px; }

.h-body { height: 308px; position: relative; background-color: #fff; background-image: url(../images/bg/header.jpg); background-repeat: no-repeat; background-position: top center; }

.h-phones { margin: 14px 7px 0 0; }

.phones { padding: 13px 20px; background: rgba(255, 255, 255, 0.5); border-radius: 20px; }

.phone { color: #0077bb; line-height: 31px; font-size: 12px; position: relative; padding-left: 36px; }
.phone .icon { position: absolute; left: 0; top: 50%; }
.phone .kyivstar-icon { margin-top: -15px; }
.phone .mts-icon { margin: -12px 0 0 2px; }
.phone .life-icon { margin: -9px 0 0 2px; }

.h-info { position: absolute; bottom: 0; left: 0; width: 100%; }

.h-text { padding: 40px 0 0 34px; color: #fff; font-size: 12px; }

.h-bl { height: 57px; width: 417px; }

.basket { height: 43px; border-radius: 43px; }

.rgba-bg { background: rgba(255, 255, 255, 0.5); padding: 6px; }

.basket-body { width: 206px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 44px; background-color: rgba(232, 240, 224, 0.8); background-image: url(../images/basket-bg.png); background-repeat: no-repeat; background-position: left; height: 100%; border-radius: 43px; line-height: 1.28; }

.basket-title { padding-top: 6px; }

.basket-link { color: #028dc1; font-size: 14px; }

.basket-goods { color: #1e3c91; font-size: 12px; }

.h-aut { margin: 15px 4px 0 0; }

.aut { height: 28px; border-radius: 28px; line-height: 28px; }

.aut-bl { border-radius: 28px; background: rgba(227, 234, 224, 0.8); display: inline-block; font-size: 12px; padding: 0 16px; }
.aut-bl a { text-decoration: underline; }
.aut-bl a:hover { text-decoration: none; }

.out { display: none; }

.in-link { color: #f80000; }

.out-link { margin-left: 4px; }

/* ---------->>> CONTENT <<<-----------*/
.content { padding-bottom: 335px; margin-left: 12px; }

.breadcrumbs { margin: 8px 0; border-radius: 38px; height: 38px; line-height: 38px; background-color: #eafaff; padding-left: 21px; font-size: 12px; }

.breadcrumb { display: inline-block; vertical-align: top; color: #0676a1; padding-right: 13px; margin-right: 17px; position: relative; }
.breadcrumb .icon { margin-right: 18px; }
.breadcrumb:after { position: absolute; width: 8px; height: 8px; background: #ffae00; left: 100%; top: 50%; margin-top: -4px; content: ''; border-radius: 50%; }
.breadcrumb:last-child:after { width: 0; height: 0; background-color: transparent; }

.breadcrumb-link { color: #000; text-decoration: none; }
.breadcrumb-link:hover { text-decoration: underline; }

.sidebar { width: 302px; }

.widget { margin-top: 7px; }

.widget-title { border-radius: 19px; padding: 13px 21px; background: #ffae00; color: #fff; font-size: 15px; }

.widget-menu { margin: 0 20px 0 13px; }
.widget-menu .widget-menu-item { line-height: 26px; font-weight: bold; border-bottom: 1px solid #bbddee; }
.widget-menu .widget-menu-item .widget-menu-link { color: #0077bb; text-decoration: none; display: block; padding: 0 8px; }
.widget-menu .widget-menu-item .widget-menu-link:hover { background-color: #058ec2; color: #fff; }
.widget-menu .widget-menu-item .red { color: #ee0202; }
.widget-menu .widget-menu-item:hover .widget-menu-link { background-color: #058ec2; color: #fff; }
.widget-menu .widget-menu-item:hover .widget-menu-drop { display: block; }
.widget-menu .widget-menu-item.drop { position: relative; }
.widget-menu .widget-menu-item.drop:after { content: ''; position: absolute; top: 11px; right: 7px; border-width: 4px 3px 0 3px; border-style: solid; border-color: #0077bb transparent transparent transparent; }
.widget-menu .widget-menu-item.drop:hover:after { border-top-color: #fff; }
.widget-menu .widget-menu-drop { margin-left: 20px; display: none; }
.widget-menu .widget-menu-drop-item { line-height: 26px; border-bottom: 1px solid #bbddee; }
.widget-menu .widget-menu-drop-item:last-child { border: none; }
.widget-menu .widget-menu-drop-link { color: #058ec2; background-color: #eafaff; padding-left: 17px; display: block; text-decoration: none; }
.widget-menu .widget-menu-drop-link:hover { background-color: #058ec2; color: #fff; }

.main-section { width: 625px; }

.filters { margin: 8px 0 37px 0; color: #000; width: 533px; font-family: Arial, Helvetica, sans-serif; }

.filters-left-bl { margin-bottom: 6px; width: 345px; }

.filters-title { width: 101px; display: inline-block; }

.filters-right-bl { width: 180px; }

.filters-bottom { padding-top: 9px; }
.filters-bottom .button { margin-top: -9px; }

.title { color: #0077bb; text-transform: uppercase; font-size: 14px; font-weight: 700; margin-bottom: 9px; }

.amt { color: #ff0000; font-size: 14px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; }

.goods-bl { margin-top: 15px; }

.goods { border: 5px solid #eafaff; border-radius: 20px; width: 274px; background-color: #fff; padding: 17px 0 14px; }

.goods-img { width: 197px; height: 197px; border-radius: 25px; background-color: #fff; border: solid 5px #cef2fe; overflow: hidden; margin: auto; }
.goods-img img { width: 100%; height: 100%; border-radius: 25px; }

.goods-title { font-size: 15px; font-weight: 700; line-height: 31px; text-align: center; color: #0077bb; padding: 0 15px; }

.goods-title-link { color: #0077bb; text-decoration: none; }
.goods-title-link:hover { text-decoration: underline; }

.goods-price { line-height: 33px; width: 200px; margin: auto; background: #cef2fe; border-radius: 16px; color: #0077bb; }

.goods-price-title { margin: 0 20px 0 27px; }

.goods-price-amt { font-size: 14px; font-weight: 700; }

.goods-numbers { margin: 5px 0 7px; text-align: center; color: #000; }

.goods-button-bl { text-align: center; }

/* ---------->>> FOOTER <<<-----------*/
.footer { position: absolute; bottom: 0; left: 0; height: 314px; width: 100%; background: #008ec2; }

.f-bl-info { width: 700px; }

.f-phones { margin-top: 22px; }

.f-phones-item { padding-bottom: 16px; color: #fff; font-size: 12px; }

.f-dop { padding: 17px 0 0 82px; font-size: 14px; }

.f-dop-item { line-height: 30px; }
.f-dop-item .icon { margin-right: 5px; }

.f-dop-link { color: #fff; text-decoration: underline; }
.f-dop-link:hover { text-decoration: none; }

.f-content { padding-left: 46px; color: #b5d4e7; line-height: 14px; text-align: justify; }

.f-text { padding-left: 46px; padding-top: 14px; color: #fff; }

.f-nav { width: 210px; }

.f-nav-title { padding: 18px 0 13px; font-size: 14px; color: #fff; text-transform: uppercase; }

.f-menu .menu-item { line-height: 30px; border-bottom: 1px solid #44aad1; font-size: 14px; }
.f-menu .menu-item .menu-link { color: #fefefe; text-decoration: none; }
.f-menu .menu-item .menu-link:hover { text-decoration: underline; }
