/*
css for developers
*/
.index_h1 {
    color: #0077bb;
    font-size: 21px;
    font-weight: bold;
    border-bottom: 1px dashed #CCC;
    padding: 0.6em 0 0.5em 0;
    margin: 0 0 10px 0;
    font: Verdana;
}

h2, .welcome {
  color: #636E75;
  font: Verdana;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
.index_h2{
    line-height: 15.360000610351563px;
    margin: 0px;
    padding: 15px 0px 0.75em;
    border: 0px;
    letter-spacing: -0.015em;
    font-size: 1.9em;
    color: rgb(178, 178, 178);
    font-family: Arial, Helvetica, FreeSans, 'Liberation Sans', 'Nimbus Sans L', sans-serif;
}
.index_p{
    margin: 0px 0px 9px;
    font-size: 12px;
    line-height: 16.200000762939453px;
    color: rgb(102, 102, 102);
    font-family: Helvetica, Arial, sans-serif, 'Helvetica Neue';
}
.dark{
    color: rgb(0, 0, 0);
}
.index_bl{
    padding: 25px 0;
}
/***Paginator***/

ul.lstPagination {
  border: 0;
  padding: 0;
  line-height: 100%;
  display: inline;
  margin-left: 20px;
}

ul.lstPagination li {
  display: inline-block;
  margin-right: 5px;
  margin-top: 15px;
}

ul.lstPagination a:link,
ul.lstPagination a:visited {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background: #f2f6f9;*/
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  /*background-color: #ecf3f7;*/
  /*background-image: -moz-linear-gradient(top,#f3f6f9,#e2eef4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f6f9),to(#e2eef4));
  background-image: -webkit-linear-gradient(top,#f3f6f9,#e2eef4);
  background-image: -o-linear-gradient(top,#f3f6f9,#e2eef4);
  background-image: linear-gradient(to bottom,#f3f6f9,#e2eef4);*/
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f6f9', endColorstr='#ffe2eef4', GradientType=0);
  border-color: #e2eef4 #e2eef4 #abcddf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #2355a8;
  text-decoration: none;
  padding: 0 10px 0 10px;
  height: 40px;
  width: 20px;
  min-width: 20px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

ul.lstPagination .page a {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}

ul.lstPagination .selected a {
  color: #999;
}

ul.lstPagination .hidden a {
  color: #888888;
}

ul.lstPagination .first,

ul.lstPagination .last {
  display: none;
}

/**** Input form ****/
.simple-input {
    display: block;
    padding: 8px;
    border: 1px solid #299fcb;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
    margin-bottom: 12px;
}

.simple-input:hover {
    border-radius: 8px
}

.simple-input:focus {
    outline: none;
    border-radius: 8px;
    border-color: #EBD292;
}

input[name="yandex_captcha_userinput"] {
  display: block;
  padding: 8px;
  border: 1px solid #299fcb;
  border-radius: 5px;
  color: #333;
  transition: all 0.3s ease-out;
  margin-bottom: 12px;
}

.simple-select {
  height: 32px;
  font-size: 18px;
  border: 1px solid #299fcb;
  border-radius: 5px;
  padding: 0 0 0 10px;
  /*-webkit-box-shadow: inset 3px 3px 5px rgba(0,0,0,0.1), inset -3px -3px 5px rgba(0,0,0,0.1);*/
  /*-moz-box-shadow: inset 3px 3px 5px rgba(0,0,0,0.1), inset -3px -3px 5px rgba(0,0,0,0.1);*/
  /*box-shadow: inset 3px 3px 5px rgba(0,0,0,0.1), inset -3px -3px 5px rgba(0,0,0,0.1);*/
  margin-bottom: 12px;
}

/**** Error ****/
.control-group.error{
  color: #fff;
  margin-bottom: 12px;
  margin-top: 12px;
}

/****Detail view ****/

.description_title {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

.description {
   font-size: 14px;
   line-height: 135%;
}

.small_note {
  color: #636E75;
  font: Verdana;
  font-size: 8px;
}

.bxslider img {
  width: 198px;
  height: 198px;
}
