/*
Author: Sergii.Rudchyk
*/
/* ---------->>> XHTML, HTML4, HTML5 Reset <<<-----------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { background: transparent; font-size: 100%; margin: 0; padding: 0; border: 0; outline: none; vertical-align: baseline; }

html, body, .container-wrap { height: 100%; }

/* Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*
1. Correct `inline-block` display not defined in IE 8/9.
2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio, canvas, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/*
Remove excess height in iOS 5 devices.
*/
audio:not([controls]) { height: 0; }

/*
Prevent modern browsers from displaying `audio` without controls.
Address `[hidden]` styling not present in IE 8/9.
Hide the `template` element in IE, Safari, and Firefox < 22.
*/
audio:not([controls]), [hidden], template { display: none; }

/*
Addresses `font-family` inconsistency between `textarea` and other form elements.
*/
html, button, input, select, textarea { font-family: sans-serif; }

/* 1. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100.01%; overflow-y: scroll; -ms-text-size-adjust: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 1 */ }

body { color: #181818; background: white; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ }

pre, code, kbd, samp, q { -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; }

pre, code, kbd, samp { font-family: monospace, serif; font-size: 100%; }

pre { overflow: auto; white-space: pre-wrap; word-wrap: break-word; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

sub, sup { font-size: smaller; }

sup { vertical-align: super; }

sub { vertical-align: sub; }

b, strong { font-weight: bold; }

em, i, dfn { font-style: italic; }

u { text-decoration: underline; }

small { font-size: 80%; }

mark { background: #ff0; color: #000; }

/*
Remove the gray background color from active links in IE 10.
*/
a { background: transparent; }
a img { border: none; }

img { border: 0; color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }

/*img,
embed,
object,
video { max-width: 100%;
}*/
ul, ol { list-style: none; }
ul li, ol li { margin-left: 0px; }

/*  Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

th, td, caption { text-align: left; font-weight: normal; vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 130%; }

h2 { font-size: 120%; }

h3 { font-size: 110%; }

h4 { font-size: 100%; }

h5 { font-size: 90%; }

h6 { font-size: 80%; }

hr { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/*Correct overflow displayed oddly in IE 9.*/
svg:not(:root) { overflow: hidden; }

/*
1. Correct color not being inherited. Known issue: affects color of disabled elements.
2. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/
button, input, optgroup, select, textarea { color: inherit; /* 1 */ margin: 0; /* 2 */ }

/**
1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
2. Improve usability and consistency of cursor style between image-type `input` and others.
*/
a[href], input[type="submit"], html input[type="button"], input[type="image"], input[type="reset"], label[for], select, button, .button { cursor: pointer; /* 2 */ }

/*Address `overflow` set to `hidden` in IE 8/9/10*/
button { overflow: visible; }

/*
Address inconsistent `text-transform` inheritance for `button` and `select`.
All other form control elements do not inherit `text-transform` values.
Correct `button` style inheritance in Firefox, IE 8+, and Opera
Correct `select` style inheritance in Firefox.
*/
button, select { text-transform: none; }

a:active, a:hover { outline: none; }

input, input:hover, input:focus, textarea, textarea:hover, textarea:focus, select, select:hover, select:focus, button, button:hover, button:focus { outline: none; }

/*
Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
It's recommended that you don't attempt to style these elements.
Firefox's implementation doesn't respect box-sizing, padding, or width.

1. Address box sizing set to `content-box` in IE 8/9/10.
2. Remove excess padding in IE 8/9/10.
3. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
4. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).

Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`.
Remove inner padding and search cancel button in Safari and Chrome on OS X.
Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance).
*/
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
input[type="checkbox"] { vertical-align: bottom; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; /* 3 */ -webkit-box-sizing: content-box; /* 4 */ -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
Re-set default cursor for disabled elements.
*/
button[disabled], input[disabled], textarea, select { cursor: default; }

/*
Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner, input::-moz-focus-inner { margin: 0; padding: 0; border: 0; outline: none; }

acronym, abbr, span.caps { cursor: help; }

acronym, abbr { border-bottom: 1px dashed #999; }

textarea { overflow: auto; resize: none; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*
Don't inherit the `font-weight` (applied by a rule above).
NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup { font-weight: bold; }

/* ---------->>> MY CLASSES  <<<-----------*/
.wrapper { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

.tac { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.clearfix:after { content: ""; display: table; clear: both; }

.tablebox, .wrapper { width: 100%; }

/* ---------->>> OTHER CLASSES  <<<-----------*/
.break { word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; }

.ellipsis { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.dib, .icon, .button, .field, .wrapper { display: inline-block; }

.dib { vertical-align: top; }

.icon, .button, .field { vertical-align: middle; }

.tablebox { display: table; }

.cellbox { display: table-cell; }

/* ---------->>> ALIGNMENT BLOCKS IN WIDTH  <<<-----------*/
.jbox { line-height: 0; text-align: justify; }
.jbox:after { content: "\0020"; height: 0; clear: both; overflow: hidden; visibility: hidden; display: inline-block; width: 100%; }
.jbox .dib { line-height: normal; text-align: left; }

input[type="submit"], html input[type="button"], input[type="reset"], button { -webkit-appearance: button; -moz-appearance: button; appearance: button; }

.no_select { -webkit-user-select: none; -moz-user-select: none; user-select: none; }

/* ---------->>> STANDARD STYLE <<<-----------*/
a, .link { color: #0077bb; text-decoration: underline; }
a:hover, .link:hover { text-decoration: none; }

/* ---------->>> GLOBAL <<<-----------*/
html { min-width: 960px; }
html > body .container-wrap { height: auto; min-height: 100%; }

body { background-color: #fff; color: black; line-height: 1; font-family: Verdana, Geneva, sans-serif; font-size: 12px; }

.container { margin: auto; width: 960px; }

.container-wrap { position: relative; }

.loading { background-color: #fff; background-image: url(../images/required/loading.gif); background-repeat: no-repeat; background-position: center; }

/* ---------->>> FORMS <<<-----------*/
/*field style*/
.field { background: white; border: 1px solid #c1e0ef; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 5px; color: black; width: 210px; height: 22px; max-width: 100%; font-family: Verdana, Geneva, sans-serif; font-size: 12px; }
.field:-moz-placeholder { color: black; opacity: 1; }
.field::-moz-placeholder { color: black; opacity: 1; }
.field::-webkit-input-placeholder { color: black; }
.field:-ms-input-placeholder { color: black; }
.field.text-placeholder { color: black; }
.field[data-operaplaceholder] { color: black; }

select.field { padding-right: 0; }

textarea.field { min-height: 60px; }

.full-width { width: 100%; }

.select-field { width: 102px; }

.select-field2 { width: 123px; margin-left: 3px; }

.select-field3 { width: 50px; }

.text-field { width: 93px; margin-right: 3px; }

.text-field2 { width: 113px; margin-left: 3px; }

.number-field { width: 50px; margin-left: 3px; }

/*end field style*/
/*buttons style*/
.button { border: none; line-height: normal; padding: 0 12px; color: #fff; font-size: 14px; font-weight: 700; font-family: Verdana, Geneva, sans-serif; }

a.button, span.button { text-decoration: none; }
a.button:hover, span.button:hover { text-decoration: none; }

.goods-button { padding: 0; text-align: left; width: 142px; border: solid 6px #eafaff; border-radius: 29px; height: 29px; line-height: 29px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYWZkNCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGZhZmQ0Ii8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiMyYTllY2IiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzhmYzIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fafd4), color-stop(50%, #4fafd4), color-stop(51%, #2a9ecb), color-stop(100%, #078fc2)); background: -webkit-linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2a9ecb 51%, #078fc2 100%); background: -moz-linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2a9ecb 51%, #078fc2 100%); background: -o-linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2a9ecb 51%, #078fc2 100%); background: linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2a9ecb 51%, #078fc2 100%); }
.goods-button:hover { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYWZkNCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGZhZmQ0Ii8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiMyZTg5YjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTY2OTMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fafd4), color-stop(50%, #4fafd4), color-stop(51%, #2e89b3), color-stop(100%, #0e6693)); background: -webkit-linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2e89b3 51%, #0e6693 100%); background: -moz-linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2e89b3 51%, #0e6693 100%); background: -o-linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2e89b3 51%, #0e6693 100%); background: linear-gradient(top, #4fafd4 0%, #4fafd4 50%, #2e89b3 51%, #0e6693 100%); }
.goods-button .icon { margin: 0 6px 0 9px; }
.goods-button .goods-button-text { padding-left: 8px; border-left: 1px solid #388eb7; box-shadow: -1px 0 0 #86c8e1; display: inline-block; }

.button-search { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmE5NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmY4MDRlIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmZjQ4MDciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjViMjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffba95), color-stop(50%, #ff804e), color-stop(51%, #ff4807), color-stop(100%, #ff5b22)); background: -webkit-linear-gradient(top, #ffba95 0%, #ff804e 50%, #ff4807 51%, #ff5b22 100%); background: -moz-linear-gradient(top, #ffba95 0%, #ff804e 50%, #ff4807 51%, #ff5b22 100%); background: -o-linear-gradient(top, #ffba95 0%, #ff804e 50%, #ff4807 51%, #ff5b22 100%); background: linear-gradient(top, #ffba95 0%, #ff804e 50%, #ff4807 51%, #ff5b22 100%); }
.button-search:hover { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmE5NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjU3NjRlIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNlYjMzMDciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDQ4MjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffba95), color-stop(50%, #f5764e), color-stop(51%, #eb3307), color-stop(100%, #ed4822)); background: -webkit-linear-gradient(top, #ffba95 0%, #f5764e 50%, #eb3307 51%, #ed4822 100%); background: -moz-linear-gradient(top, #ffba95 0%, #f5764e 50%, #eb3307 51%, #ed4822 100%); background: -o-linear-gradient(top, #ffba95 0%, #f5764e 50%, #eb3307 51%, #ed4822 100%); background: linear-gradient(top, #ffba95 0%, #f5764e 50%, #eb3307 51%, #ed4822 100%); }

.filter-button { padding: 0 15px; height: 40px; border-radius: 40px; border: solid 6px #eafaff; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZTQ1NiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYjlkZTUwIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNhNmQ0MjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OWNkMDIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfe456), color-stop(50%, #b9de50), color-stop(51%, #a6d424), color-stop(100%, #99cd02)); background: -webkit-linear-gradient(top, #bfe456 0%, #b9de50 50%, #a6d424 51%, #99cd02 100%); background: -moz-linear-gradient(top, #bfe456 0%, #b9de50 50%, #a6d424 51%, #99cd02 100%); background: -o-linear-gradient(top, #bfe456 0%, #b9de50 50%, #a6d424 51%, #99cd02 100%); background: linear-gradient(top, #bfe456 0%, #b9de50 50%, #a6d424 51%, #99cd02 100%); }
.filter-button:hover { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZTQ1NiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYjlkZTUwIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM5YWMzMjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MWFkMDIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfe456), color-stop(50%, #b9de50), color-stop(51%, #9ac324), color-stop(100%, #81ad02)); background: -webkit-linear-gradient(top, #bfe456 0%, #b9de50 50%, #9ac324 51%, #81ad02 100%); background: -moz-linear-gradient(top, #bfe456 0%, #b9de50 50%, #9ac324 51%, #81ad02 100%); background: -o-linear-gradient(top, #bfe456 0%, #b9de50 50%, #9ac324 51%, #81ad02 100%); background: linear-gradient(top, #bfe456 0%, #b9de50 50%, #9ac324 51%, #81ad02 100%); }

/*end buttons style*/
/* ---------->>> SPRITE <<<-----------*/
.icons-sprite, .kyivstar-icon, .mts-icon, .life-icon, .home-icon, .basket-icon, .tel-icon, .skype-icon, .pep-icon, .delete, .delete:hover { background: url('../images/icons-s0e8307e30f.png') no-repeat; }

/* ---------->>> ICONS <<<-----------*/
.kyivstar-icon { background-position: 0 0; height: 30px; width: 34px; }

.mts-icon { background-position: 0 -40px; height: 25px; width: 30px; }

.life-icon { background-position: 0 -75px; height: 18px; width: 30px; }

.home-icon { background-position: 0 -137px; height: 26px; width: 26px; }

.basket-icon { background-position: 0 -103px; height: 24px; width: 24px; }

.tel-icon { background-position: 0 -275px; height: 17px; width: 18px; }

.skype-icon { background-position: 0 -245px; height: 20px; width: 18px; }

.pep-icon { background-position: 0 -302px; height: 13px; width: 11px; }

.delete { background-position: 0 -209px; height: 26px; width: 26px; }
.delete:hover { background-position: 0 -173px; }

/** BxSlider v4.0 - Fully loaded, responsive content slider http://bxslider.com  Written by: Steven Wanderski, 2012 http://stevenwanderski.com (while drinking Belgian ales and listening to jazz)  CEO and founder of bxCreative, LTD http://bxcreative.com */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper { position: relative; margin: auto; padding: 0; /** THEME
===================================*/ /* LOADER */ /* PAGER */ /* IMAGE CAPTIONS */ }
.bx-wrapper img { width: 100%; display: block; border-radius: 25px; }
.bx-wrapper .bx-viewport { border: solid #cef2fe 5px; left: -5px; background: #fff; border-radius: 25px; }
.bx-wrapper .bx-loading { min-height: 50px; background-color: #fff; background-image: url(../images/required/loading.gif); background-repeat: no-repeat; background-position: center; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; }
.bx-wrapper .bx-pager { text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: .85em; font-width: bold; color: #666; padding-top: 20px; }
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; }
.bx-wrapper .bx-pager.bx-default-pager a { background: #cef2fe; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; border-radius: 5px; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: #ffae00; }
.bx-wrapper .bx-controls-direction { display: none; }
.bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: rgba(80, 80, 80, 0.75); width: 100%; }
.bx-wrapper .bx-caption span { color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: .85em; display: block; padding: 10px; }

/* ---------->>> HEADER <<<-----------*/
.h-top { padding-top: 6px; }

.main-menu { margin-left: 12px; border: 5px solid #cef2fe; border-radius: 37px; line-height: 37px; height: 37px; padding: 0 13px; }
.main-menu .menu-item { display: inline-block; }
.main-menu .menu-item .menu-link { color: #0077bb; font-size: 14px; font-weight: 700; text-decoration: none; margin: 0 7px 0 4px; display: inline-block; }
.main-menu .menu-item .menu-link:hover { text-decoration: underline; }
.main-menu .menu-item:after { content: '|'; color: #76d4f3; }
.main-menu .menu-item:last-child:after { content: ''; }

.search { margin-top: 1px; border: 5px solid #cef2fe; width: 175px; border-radius: 37px; }

.field-search { margin-left: 11px; width: 110px; border: none; background: #fff; color: #0077bb; height: 31px; border-radius: 31px; font-size: 14px; }
.field-search:-moz-placeholder { color: #0077bb; opacity: 1; }
.field-search::-moz-placeholder { color: #0077bb; opacity: 1; }
.field-search::-webkit-input-placeholder { color: #0077bb; }
.field-search:-ms-input-placeholder { color: #0077bb; }
.field-search.text-placeholder { color: #0077bb; }
.field-search[data-operaplaceholder] { color: #0077bb; }

.button-search { height: 33px; border-radius: 33px; }

.h-body { height: 308px; position: relative; background-color: #fff; background-image: url(../images/bg/header.jpg); background-repeat: no-repeat; background-position: top center; }

.h-phones { margin: 14px 7px 0 0; }

.phones { padding: 13px 20px; background: rgba(255, 255, 255, 0.5); border-radius: 20px; }

.phone { color: #0077bb; line-height: 31px; font-size: 12px; position: relative; padding-left: 36px; }
.phone .icon { position: absolute; left: 0; top: 50%; }
.phone .kyivstar-icon { margin-top: -15px; }
.phone .mts-icon { margin: -12px 0 0 2px; }
.phone .life-icon { margin: -9px 0 0 2px; }

.h-info { position: absolute; bottom: 0; left: 0; width: 100%; }

.h-text { padding: 40px 0 0 34px; color: #fff; font-size: 12px; }

.h-bl { height: 57px; width: 417px; }

.basket { height: 43px; border-radius: 43px; }

.rgba-bg { background: rgba(255, 255, 255, 0.5); padding: 6px; }

.basket-body { width: 206px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 44px; background-color: rgba(232, 240, 224, 0.8); background-image: url(../images/basket-bg.png); background-repeat: no-repeat; background-position: left; height: 100%; border-radius: 43px; line-height: 1.28; }

.basket-title { padding-top: 6px; }

.basket-link { color: #028dc1; font-size: 14px; }

.basket-goods { color: #1e3c91; font-size: 12px; }

.h-aut { margin: 15px 4px 0 0; }

.aut { height: 28px; border-radius: 28px; line-height: 28px; }

.aut-bl { border-radius: 28px; background: rgba(227, 234, 224, 0.8); display: inline-block; font-size: 12px; padding: 0 16px; }
.aut-bl a { text-decoration: underline; }
.aut-bl a:hover { text-decoration: none; }

.out { display: none; }

.in-link { color: #f80000; }

.out-link { margin-left: 4px; }

/* ---------->>> CONTENT <<<-----------*/
.content { padding-bottom: 335px; margin-left: 12px; }

.breadcrumbs { margin: 8px 0; border-radius: 38px; height: 38px; line-height: 38px; background-color: #eafaff; padding-left: 21px; font-size: 12px; }

.breadcrumb { display: inline-block; vertical-align: top; color: #0676a1; padding-right: 13px; margin-right: 17px; position: relative; }
.breadcrumb .icon { margin-right: 18px; }
.breadcrumb:after { position: absolute; width: 8px; height: 8px; background: #ffae00; left: 100%; top: 50%; margin-top: -4px; content: ''; border-radius: 50%; }
.breadcrumb:last-child:after { width: 0; height: 0; background-color: transparent; }

.breadcrumb-link { color: #000; text-decoration: none; }
.breadcrumb-link:hover { text-decoration: underline; }

.sidebar { width: 302px; }

.widget { margin-top: 7px; }

.widget-title { border-radius: 19px; padding: 13px 21px; background: #ffae00; color: #fff; font-size: 15px; }

.widget-menu { margin: 0 20px 0 13px; }
.widget-menu .widget-menu-item { line-height: 26px; font-weight: bold; border-bottom: 1px solid #bbddee; }
.widget-menu .widget-menu-item .widget-menu-link { color: #0077bb; text-decoration: none; display: block; padding: 0 8px; }
.widget-menu .widget-menu-item .widget-menu-link:hover { background-color: #058ec2; color: #fff; }
.widget-menu .widget-menu-item .red { color: #ee0202; }
.widget-menu .widget-menu-item:hover .widget-menu-link { background-color: #058ec2; color: #fff; }
.widget-menu .widget-menu-item:hover .widget-menu-drop { display: block; }
.widget-menu .widget-menu-item.drop { position: relative; }
.widget-menu .widget-menu-item.drop:after { content: ''; position: absolute; top: 11px; right: 7px; border-width: 4px 3px 0 3px; border-style: solid; border-color: #0077bb transparent transparent transparent; }
.widget-menu .widget-menu-item.drop:hover:after { border-top-color: #fff; }
.widget-menu .widget-menu-drop { margin-left: 20px; display: none; }
.widget-menu .widget-menu-drop-item { line-height: 26px; border-bottom: 1px solid #bbddee; }
.widget-menu .widget-menu-drop-item:last-child { border: none; }
.widget-menu .widget-menu-drop-link { color: #058ec2; background-color: #eafaff; padding-left: 17px; display: block; text-decoration: none; }
.widget-menu .widget-menu-drop-link:hover { background-color: #058ec2; color: #fff; }

.main-section { width: 625px; }

.filters { margin: 8px 0 37px 0; color: #000; width: 533px; font-family: Arial, Helvetica, sans-serif; }

.filters-left-bl { margin-bottom: 6px; width: 345px; }

.filters-title { width: 101px; display: inline-block; }

.filters-right-bl { width: 180px; }

.filters-bottom { padding-top: 9px; }
.filters-bottom .button { margin-top: -9px; }

.title { color: #0077bb; text-transform: uppercase; font-size: 14px; font-weight: 700; margin-bottom: 9px; }

.amt { color: #ff0000; font-size: 14px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; }

.goods-bl { margin-top: 15px; }

.goods { border: 5px solid #eafaff; border-radius: 20px; width: 274px; background-color: #fff; padding: 17px 0 14px; }

.goods-img { width: 197px; height: 197px; border-radius: 25px; background-color: #fff; border: solid 5px #cef2fe; overflow: hidden; margin: auto; }
.goods-img img { width: 100%; height: 100%; border-radius: 25px; }

.goods-title { font-size: 15px; font-weight: 700; line-height: 31px; text-align: center; color: #0077bb; padding: 0 15px; }

.goods-title-link { color: #0077bb; text-decoration: none; }
.goods-title-link:hover { text-decoration: underline; }

.goods-price { line-height: 33px; width: 200px; margin: auto; background: #cef2fe; border-radius: 16px; color: #0077bb; }

.goods-price-title { margin: 0 20px 0 27px; }

.goods-price-amt { font-size: 14px; font-weight: 700; }

.goods-numbers { margin: 5px 0 7px; text-align: center; color: #000; }

.goods-button-bl { text-align: center; }

.basket-header .cellbox { text-align: center; height: 38px; line-height: 38px; font-size: 15px; font-weight: 700; color: #0077bb; border: 1px solid #bbddee; border-left: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.basket-header .basket-tb-cell-num { border-radius: 38px 0 0 38px; border-left: 1px solid #bbddee; }
.basket-header .basket-tb-cell-delete { border-radius: 0 38px 38px 0; }

.basket-tb { width: 100%; }
.basket-tb td { height: 50px; text-align: center; vertical-align: middle; border-bottom: 1px solid #bbddee; }
.basket-tb .basket-tb-cell-num { color: #000; font-size: 12px; }
.basket-tb .basket-tb-cell-price, .basket-tb .basket-tb-cell-sum { font-family: Arial, Helvetica, sans-serif; font-size: 14px; }

.basket-tb-cell-num { width: 40px; }

.basket-tb-cell-goods { width: 160px; }

.basket-tb-cell-amt { width: 110px; }

.basket-tb-cell-price { width: 95px; }

.basket-tb-cell-sum { width: 125px; }

.basket-tb-cell-delete .delete { cursor: pointer; }

.basket-img { width: 42px; width: 33px; margin-right: 3px; }

.basket-link { color: #0077bb; font-size: 12px; text-decoration: none; }
.basket-link:hover { text-decoration: underline; }

.basket-field-amt { width: 50px; }

.basket-all-sum { padding: 10px 0 20px; text-align: center; }

.basket-all-sum-title { width: 95px; margin-left: 310px; font-size: 14px; color: #0077bb; }

.basket-all-sum-number { width: 125px; font-size: 14px; font-weight: 700; color: #000; }

.basket-footer .goods-button { padding: 0 13px; }

.basket-next-link { display: inline-block; line-height: 41px; font-size: 13px; color: #0077bb; }

.basket-form { padding-top: 18px; width: 390px; margin-left: 44px; display: none; }

.basket-form-row { margin-bottom: 10px; }

.basket-form-label { width: 155px; display: inline-block; line-height: 22px; color: #000; }
.basket-form-label .required { color: #ff0000; margin-right: 2px; }

.basket-form-field { width: 234px; }

textarea.basket-form-field { height: 54px; padding: 3px 8px; }

.basket-form-button { padding-top: 10px; }

/*tabs*/
.tabs .tab { cursor: pointer; }

.tab-content { display: none; }
.tab-content.tab-content-visible { display: block; }

/*end tabs*/
.cabinet-content .widget { margin-top: 0; }

.cabinet-bl .tabs { border: 1px solid #bbddee; border-radius: 38px; height: 38px; line-height: 38px; }
.cabinet-bl .tabs .tab { width: 33%; height: 38px; position: relative; float: left; cursor: pointer; }
.cabinet-bl .tabs .tab:hover .tab-bl, .cabinet-bl .tabs .tab.tab-current .tab-bl { border-color: #cef2fe; background-color: #FFF; }
.cabinet-bl .tabs .tab.first-tab .tab-bl { margin: -5px 0 0 -2px; }
.cabinet-bl .tabs .tab.second-tab .tab-bl { margin: -5px auto 0; }
.cabinet-bl .tabs .tab.third-tab .tab-bl { margin: -5px -9px 0 auto; }
.cabinet-bl .tabs .tab:hover { z-index: 10; }
.cabinet-bl .tabs .tab.tab-current { z-index: 5; }
.cabinet-bl .tabs .tab .tab-bl { height: 38px; color: #0077bb; font-size: 15px; text-align: center; width: 170px; border: 5px solid transparent; border-radius: 38px; position: relative; }
.cabinet-bl .tab-content { margin-top: 20px; display: none; }
.cabinet-bl .tab-content.tab-content-visible { display: block; }

.cabinet-info-tb { width: 100%; }
.cabinet-info-tb td { padding-bottom: 22px; }

.cabinet-first-cell { width: 170px; padding-left: 50px; color: #0077bb; }

.cabinet-second-cell { color: #000; }

.cabinet-info-footer { padding-top: 30px; }
.cabinet-info-footer .button { margin-bottom: 15px; padding: 0 15px; width: auto; }
.cabinet-info-footer .cabinet-link { margin-right: 80px; font-size: 13px; font-weight: 700; }

.list_carousel { height: 240px; width: 635px; margin-left: -5px; overflow: hidden; }

.brands-wind { overflow: hidden; padding-top: 27px; }

.brands-bl { width: 105%; }

.brands-item { width: 190px; height: 190px; overflow: hidden; float: left; margin: 0 27px 27px 0; }
.brands-item img { width: 100%; }

/* ---------->>> FOOTER <<<-----------*/
.footer { position: absolute; bottom: 0; left: 0; height: 314px; width: 100%; background: #008ec2; }

.f-bl-info { width: 700px; }

.f-phones { margin-top: 22px; }

.f-phones-item { padding-bottom: 16px; color: #fff; font-size: 12px; }

.f-dop { padding: 17px 0 0 82px; font-size: 14px; }

.f-dop-item { line-height: 30px; }
.f-dop-item .icon { margin-right: 5px; }

.f-dop-link { color: #fff; text-decoration: underline; }
.f-dop-link:hover { text-decoration: none; }

.f-content { padding-left: 46px; color: #b5d4e7; line-height: 14px; text-align: justify; }

.f-text { padding-left: 46px; padding-top: 14px; color: #fff; }

.f-nav { width: 210px; }

.f-nav-title { padding: 18px 0 13px; font-size: 14px; color: #fff; text-transform: uppercase; }

.f-menu .menu-item { line-height: 30px; border-bottom: 1px solid #44aad1; font-size: 14px; }
.f-menu .menu-item .menu-link { color: #fefefe; text-decoration: none; }
.f-menu .menu-item .menu-link:hover { text-decoration: underline; }

/*clear the password reveal button and the clear button in IE10*/
.field::-ms-clear, .field::-ms-reveal { display: none; }

/* ---------->>> IE8 <<<-----------*/
.ie8 .field-search { line-height: 31px; }
.ie8 .field { line-height: 22px; }
.ie8 .filter-button { background: #bfe456; }
.ie8 .filter-button:hover { background: #99cd02; }
.ie8 .goods-button { background: #4fafd4; }
.ie8 .goods-button:hover { background: #0e6693; }
.ie8 .button-search { background: #ff4200; }
.ie8 .button-search:hover { background: #ea2c00; }
.ie8 .phones, .ie8 .rgba-bg { background: #fff; }
.ie8 .main-menu .menu-item { float: left; }
