<p>Заказ - {{order.uid}}</p>

<p>Сумма: {{ order.get_price|floatformat:2 }}</p>

Информация о покупателе: ====================================================<br>
<p>
Имя: {{ order.user.first_name }} <br>
Фамилия: {{ order.user.last_name }} <br>
Город: {{ order.city }} <br>
Email: {{ order.user.email }} <br>
Телефон: {{ order.user.phone }} <br>
</p>

<p>Информация о заказе: =========================================================</p>
<br>
    Uid: {{ order.uid }} <br>
    Заказаные товары========================================================== <br>
    <br>
    {% for goods in order_goods %}
    Товар: <br>
        Название: {{goods.product.name}} <br>
        Артикуль: {{goods.product.sku}} <br>
        Количество: {{goods.quantity}} <br>
    {% endfor %}
