<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>777toys.com.ua | Регистрация на сайте  </title>
</head>
<body>
Добро день, {{name}} {{last_name}}, <br>
<p>

<p>
    Спасибо за регистрацию на сайте Интернет-магазин <a href="{{SITE_URL}}">{{SITE_URL}}</a>. <br>
    Ваша учетная запись создана и должна быть активирована, прежде чем Вы сможете осуществлять покупки.
    Чтобы активировать учетную запись, щелкните на следующую ссылку или скопируйте и вставьте ее в браузер:
    <a href="{{SITE_URL}}/accounts/confirm/{{key}}/{{uid}}/">{{SITE_URL}}/accounts/confirm/{{key}}/{{uid}}/</a>
</p>

<p>После активации Вы сможете осуществлять покупки на нашем сайте.</p>

<p>С уважением, администрация {{SITE_URL}}</p>

</body>
</html>
