<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>777toys.com.ua | Ваш заказ {{order.uid}} </title>
</head>
<body>
<b>Здравствуйте, {{ order.user.first_name }}!</b>
<p>
Мы приняли Ваш заказ:
</p>
{% for goods in order_goods %}
<p>
    Товар: {{goods.product.name}}<br>
    Цена: {{goods.product.price}}<br>
    Кол-во: {{goods.quantity}}<br>
    Код товара: {{goods.product.sku}}<br>
</p>
{%endfor%}
Сумма к оплате: {{ order.get_price|floatformat:2 }} грн.

</body>
</html>


